<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="uname" value="abc@xyz.com"/>
  <parameter name="pwd" value="Abc@1234"/>
  
  
    <classes>
      <class name="testcases.HomeTest"/>
      <class name="testcases.SimplilearnLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
